
@import 'scss/colores';
.card{
   background: $color-3;
   
}

body{ background-image: url("https://img.freepik.com/foto-gratis/fondo-superficie-madera-blanca_23-2148067132.jpg?size=626&ext=jpg");

}
 .navbar ,.subtitulo{

    background-color:$color-3;
}
    

.datos1 ,.subtitulo2{
    background-color:$color-3;
}

.button1{
    background-color: $color-primary;
}
